.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.money-manager-app {
  width: 85%;
}
@media screen and (min-width: 768px) {
  .money-manager-app {
    width: 80%;
  }
}
.header-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  border-radius: 16px;
  font-family: 'Roboto';
  padding-top: 40px;
  padding-bottom: 32px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .header-container {
    text-align: start;
    padding-left: 54px;
    margin-top: 70px;
  }
}
.name {
  color: #475569;
  font-weight: 500;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .name {
    font-size: 30px;
  }
}
.greeting-text {
  color: #475569;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .greeting-text {
    font-size: 18px;
  }
}
.app-name {
  color: #0b69ff;
  font-weight: 500;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 424px;
  font-family: 'Roboto';
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .form-input-container {
    width: 40%;
    padding-right: 43px;
    padding-left: 48px;
  }
}
.form-heading {
  color: #334155;
  font-size: 16px;
  margin-bottom: 25px;
}
label {
  color: #7e858e;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}
.input-elements {
  height: 40px;
  width: 100%;
  border: 1px solid #d7dfe9;
  margin-bottom: 20px;
  font-size: 12px;
  padding-left: 10px;
  outline: none;
}
.add-btn {
  color: #ffffff;
  background-color: #0b69ff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 5px;
  align-self: flex-start;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 600;
}
.money-manager-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .money-manager-container {
    flex-direction: row;
  }
}
.history-container {
  width: 100%;
  min-width: 326px;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .history-container {
    width: 55%;
    min-width: 424px;
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 29px;
    padding-right: 41px;
    margin-top: 0;
  }
}
.history-heading {
  color: #475569;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .history-heading {
    font-size: 20px;
  }
}
.transaction-table-container {
  height: 100%;
  border-radius: 8px;
}
.transaction-table {
  padding-left: 0;
  margin: 0;
}
.table-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .table-header {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.table-header-cell {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
}
@media screen and (min-width: 768px) {
  .table-header-cell {
    font-size: 16px;
  }
}
